{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Address - JigsimurHerbal{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header bg-success text-white">
          <h4 class="mb-0"><i class="fas fa-edit"></i> Edit Address</h4>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}

            <div class="row">
              <div class="col-md-6">
                <h5 class="mb-3 text-success">Address Type</h5>
                {{ form.type|as_crispy_field }}
                {{ form.is_default|as_crispy_field }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <h5 class="mb-3 text-success">Personal Information</h5>
                {{ form.first_name|as_crispy_field }}
                {{ form.last_name|as_crispy_field }}
                {{ form.company|as_crispy_field }}
                {{ form.phone|as_crispy_field }}
              </div>

              <div class="col-md-6">
                <h5 class="mb-3 text-success">Address Details</h5>
                {{ form.address_line_1|as_crispy_field }}
                {{ form.address_line_2|as_crispy_field }}
                {{ form.city|as_crispy_field }}
                {{ form.state|as_crispy_field }}
                {{ form.postal_code|as_crispy_field }}
                {{ form.country|as_crispy_field }}
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-12">
                <button type="submit" class="btn btn-success">
                  <i class="fas fa-save"></i> Update Address
                </button>
                <a href="{% url 'users:addresses' %}" class="btn btn-secondary ms-2">
                  <i class="fas fa-times"></i> Cancel
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
